html,body,#app {
  height:100%;
}

#app {
  overflow: hidden;
}

body {
  background-color:#ffffff;
  font-family: 'Helvetica', sans-serif;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
}

/* links, buttons, inputs */

a,
a:focus,
a:hover {
  text-decoration:none;
  color:#2c3e50;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.btn {
  min-width: 34px;
  font-family: 'Helvetica', sans-serif;
  border-radius:0px !important;
  border: 0px solid #111111;
  transition:all .08s linear;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    border-color: transparent !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

.form-control {
  border-radius:0;
  box-shadow:none;
}

.form-group {
  overflow:auto;
}

.form-control:focus {
    border-color: #111111;
    outline: 0;
    -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,.055);
    box-shadow: 0 0 0 4px rgba(0,0,0,.055);
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
    border-top: 1px solid rgba(0,0,0,0.04);
}

.table-hover > tbody > tr:hover {
    background-color: #f5f8fa80;
}

.table > thead > tr > th {
    border-bottom: 2px solid #2c3e50 !important;
}

table.dataTable > thead > tr > th {
    border-bottom: 1px solid #2c3e50 !important;
}

.dataTables_wrapper {
  margin-bottom:40px;
}

table.dataTable tbody th, table.dataTable tbody td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
}

table.dataTable tbody th {
    border-bottom: 2px solid #2c3e50;
}

.nav {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom-color: transparent;
  border-bottom-color: transparent;
  cursor: default;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  border: 0px solid transparent;
}

.navbar-static-top .navbar-nav > li > a,
.navbar-static-top .navbar-text {
  color:#ffffff !important;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.6;
    text-decoration: none;
    color: #111111;
    background-color: #fff;
    border: 1px solid transparent;
    margin-left: -1px;
    min-width:38px;
    text-align:center;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    background-color: #2c3e50;
    border-color: transparent;
    cursor: default;
    border-radius:0 !important;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    background-color: #fff;
    border-color: transparent;
    cursor: not-allowed;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #216a94;
    background-color: #eee;
    border-color: transparent;
}

.pagination {
    margin: 0;
    border-radius: 44px;
    overflow: hidden;
}

/* header */

.navbar-default {
    background-color: #2c3e50;
    border-color: #2c3e50;
    margin:0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #ffffff;
    font-weight:bold;
}

.navbar-static-top > li,
.navbar-static-top > li > a,
.navbar-static-top > li > a,
.navbar-static-top,
.navbar-static-top > li > a:focus,
.navbar-static-top > li > a:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: rgba(0,0,0,0.12);
    color: #ffffff;
}

.navbar-brand {
    float: left;
    padding: 0px 15px;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    font-family: 'Helvetica', sans-serif;
    border-color: transparent !important;
}

.submit-button {
  position: relative;
  top: 11px;
  min-width: 20px;
  border-radius: 20px !important;
}

/* infinite scroll */

.weekly-content {

}

.infinite-scroll {
  margin-top:40px;
}

.infinite-scroll .set-date {
  font-family: 'Helvetica', sans-serif;
  color:#ddd;
  text-align:right
}

.set-date .the-day {
  font-size: 33px;
  position: absolute;
  right: 10px;
  letter-spacing: 6px;
  top: 20px;
}

.set-date .the-date {
  font-size: 18px;
  position: absolute;
  right: 19px;
  top: 10px;
}

.daily-set {
  clear:both;
}

.infinite-scroll .single-link {

}

.infinite-scroll .panel-default > .panel-heading {
    color: #777777;
    background-color: rgba(255,255,255,0.12);
    border-color: transparent;
    overflow: auto;
    padding: 0 0 2px;
}

.infinite-scroll .panel-default {
    border-color: transparent;
    padding: 15px 0;
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0);
    margin:0 0 10px;
}

.infinite-scroll .panel-body {
    padding: 0 0 10px 0;
}

.infinite-scroll .panel-body a {
  font-size:24px;
  font-family: 'Helvetica', sans-serif;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  line-height: 30px;
}

    .infinite-scroll .panel-body a:hover {
      border-bottom: 1px solid rgba(0,0,0,0.72)
    }

.infinite-scroll .panel-footer {
    padding: 0;
    background-color: transparent;
    border-top: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow:auto
}

  .infinite-scroll .panel-footer .btn {
      border-color:transparent !important;
      border-radius:0 !important;
      color:#111111;
  }

.link-rating {
  float: left;
  min-width: 30px;
  text-align: center;
  line-height: 30px;
  background: #111111;
  color: #ffffff;
  font-size:18px;
  font-family: 'Helvetica', sans-serif;
  border-radius: 32px;
  margin-right: 12px;
}

.infinite-scroll .link-source a {
  color:#eee !important;
}

  .infinite-scroll .link-source a:hover {
  }

/* footer */

.so-sad {
  text-align: center;
  font-size:18px;
  margin:120px 40px;
  color:#797979;
  overflow:auto;
}

/* admin */

.alert {
    padding: 10px;
    margin: 10px;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
}

.admin-wrapper {
  display:table;
  width:100%;
  height: calc(100% - 50px);
}

.admin-nav-wrapper {
  width:240px;
  display:table-cell;
  vertical-align: top;
  background-color: #ffffff !important;
  border-right: 1px solid #ddd;
}

.admin-content-wrapper {
  display:table-cell;
  vertical-align: top;
}

.admin-content-lightbox {
  display:table-cell;
  background-color: #ffffff;
  border-left:1px solid #ddd;
  vertical-align: top;
  width: 320px;
}

.admin-content-lightbox-header {
  padding:0 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  margin: 0;
  height: 61.4px;
  line-height: 61.4px;
  font-size:16px;
  color:#111111;
  font-weight: bold;
}

.admin-content-lightbox-content {
  padding:15px;
  height: calc(100vh - 111.4px);
  overflow-y: auto;
}

  .admin-content-lightbox-content ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

    .admin-content-lightbox-content ol li.lightboxlink-single {
      padding: 0;
      margin: 0;
      list-style: none;
      display: block;
      border-radius: 4px;
      border:1px solid #ddd;
      margin-bottom:10px;
    }

    .admin-content-lightbox-content ol li .lightboxlink-single-content {
      padding: 10px;
      display: block;
      line-height: 16px;
      font-size: 90%;
    }

    .admin-content-lightbox-content ol li .lightboxlink-single-content .link-label {
      margin-bottom:2px;
      display:inline-block;
      font-weight:bold;
      color:#999;
      font-size:90%;
    }

    .admin-content-lightbox-content ol li .lightboxlink-single-footer {
      padding: 4px 10px 2px;
      background: rgba(0,0,0,0.02);
      text-align: right;
    }

.admin-panel {
  padding:0 0 60px;
  background-color:#ffffff;
}

.admin-toolbar {
  background-color:#ffffff;
  border-bottom:1px solid #ddd;
  margin:0;
  overflow: auto;
}

.admin-content-section {
  padding:15px 15px 60px;
  height: calc(100vh - 111.4px);
  overflow-y: auto;
}

.admin-nav {
  display:table;
  width: 100%;
  table-layout: fixed;
}

.admin-nav li:hover,
.admin-nav li:active,
.admin-nav li:focus {
  background: rgba(0,0,0,0.045);
  color:#ffffff;
}

.admin-nav li:hover a,
.admin-nav li:active a,
.admin-nav li:focus a,
.admin-nav li:hover .fa,
.admin-nav li:active .fa,
.admin-nav li:focus .fa {
  color:#111111;
}

.admin-nav > li + li {
  margin:0;
}

.admin-nav li {
  font-size: 16px;
  transition:all 0.12s linear;
  line-height:40px;
}

.admin-nav > li > a {
  color: rgba(0,0,0,0.72);
  background:transparent;
}

.admin-nav > li > a .fa{
  width: 34px;
  height: 34px;
  font-size: 14px;
  text-align: center;
  margin: 4px 8px 4px 0;
  background: rgba(0,0,0,0.12);
  border-radius: 22px;
  display: block;
  float: left;
  line-height: 34px;
  color: rgba(0,0,0,0.72);
}

.admin-nav > li.active > a .fa {
  color: rgba(255,255,255,1);
  background-color: #2c3e50;
}

.admin-nav > li.active > a,
.admin-nav > li.active > a:focus,
.admin-nav > li.active > a:hover {
  background:#ffffff;
  font-weight: bold;
}

.admin-nav li.active {
  background: rgba(0,0,0,0.24);
  color: rgba(255,255,255,1);
}

  .admin-nav li.active a {
    color:#111111 !important;
  }

.admin-sub-nav {
  float:left;
}

.admin-sub-nav h4 {
  margin:0 0 0 15px;
  font-size:16px;
  color:#111111;
  font-weight: bold;
  line-height: 60px;
}

.admin-sub-nav ul.nav-pills {
  padding: 10px;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.admin-sub-nav .nav-pills > li.active > a,
.admin-sub-nav .nav-pills > li.active > a:focus,
.admin-sub-nav .nav-pills > li.active > a:hover {
    color: #111111 !important;
    background-color: #ffffff;
    border-radius:0;
    font-weight:bold;
}

.admin-tools {
  float:right;
  border-left:1px solid #ddd;
  padding:13px;
}

.floating-action {
  position: fixed;
  bottom: 20px;
  left: 260px;
  right: 340px;
  height: 60px;
  background-color: #ffffffe6;
  padding: 13px;
  text-align: right;
  margin: 0;
  z-index: 100000;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 44px;
}